.venv
venv
.ipynb_checkpoints
.env

*/__pycache__
__pycache__

.vscode
.vscode/*
*/.DS_Store
*.egg-info

ipynb_test
ipynb_test/*
testapp
testapp/*

build
build/*
dist
dist/*

.coverage
key.key

.pypirc

.DS_Store
*.log
.mipro_logs
.gsm8k

testfile

**/node_modules
**/.next